html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
body{
    background-image: url("././Annotation 2020-06-23 112052.jpg");
    background-size: 14rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
header{
    background:darkred;
    text-align:center;
    font-size: 4.5rem;
    padding:2rem;
    font-style: bold;
    
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: #f3e1ab;
    text-shadow: 2px 2px 2px black;
}
.header-nav a{
    background-color: #F2BB2F;
   border: 1rem, solid, #703103;
    margin:2rem, 5rem;
    font-size: 2rem;
    padding:1.5rem;
    color: #703103;
    font-size: 1.5rem;
    border-radius:5%;
    
}
h2{
    text-align:center;
    font-size:3rem;
    background-color: #F2BB2F;
    color: darkred;
    text-shadow: 2px 2px 2px #f3e1ab;
}

.large-container{
    display:flex;
    justify-content: center;
    align-items: start;
    flex-wrap:wrap;
}

.team{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 1.5rem;
    padding:3rem;
    
}

img{
    border-radius:30%;
    height:20rem
}

h3, p{
    margin:.5rem;
    text-align: center;
    background-color: #703103;
    color:#F2BB2F;
    padding:1.5rem;
    border-radius: 30%;
}

.footer-nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkred;
    padding:1rem;
}
.footer-nav a{background-color: #F2BB2F;
   border: 1rem, solid, #703103;
    margin:2rem, 5rem;
    font-size: 2rem;
    padding:.5rem;
    color: #703103;
    font-size: 1rem;
}
@media(max-width: 500px){
    
    img{
        height: 10rem;
    }
    h2{
        overflow-wrap: normal;
        font-size: 2rem;
    }
    .header{
        padding:0rem;
        font-size:1.7rem;
    }
    .team{
        width:80%;
    }
}