html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
body{
    background-image: url("././Annotation 2020-06-23 112052.jpg");
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
header{
    background:darkred;
    text-align:center;
    font-size: 4.5rem;
    padding:2rem;
    font-style: bold;
    color: #F2BB2F;
    
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: #f3e1ab;
    text-shadow: 2px 2px 2px black;
}

.header-nav a{
    background-color: #F2BB2F;
   border: 1rem, solid, #703103;
    margin:2rem, 5rem;
    font-size: 2rem;
    padding:1.5rem;
    color: #703103;
    font-size: 1.5rem;
    border-radius:15%;   
}
.header-nav a:hover {
        background-color:#703103;
        color: #F2BB2F;
        box-shadow: 10px 5px 5px black;
      }
h2{
    text-align:center;
    font-size:2.5rem;
    width: 100%;
    background-color: #F2BB2F;
    color: darkred;
    text-shadow: 2px 2px 2px #f3e1ab;
    box-shadow: 10px 5px 5px black;
}
.features{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: start;
    font-size:1.5rem;
    margin: 1rem;
    
}

img{
    height:17rem;
    border-radius: 50%;
    border-color: #703103;
    border-width: .5rem;
    border-style: solid;
}
img:hover{
    box-shadow: 10px 5px 5px black;
}
p{
    width:25%;
    padding: 2rem;
    background-color: #703103;
    color: #F2BB2F;
    border-color: darkred;
    border-style: solid;
    border-width:1rem;
    margin:.5rem;  
}
p:hover{
    box-shadow: 10px 5px 5px black;
}

.footer-nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkred;
    padding:1rem;
    
}
.footer-nav a{background-color: #F2BB2F;
    border: 1rem, solid, #f3e1ab;
     margin:2rem, 5rem;
     font-size: 2rem;
     padding:1rem;
     color: #703103;
     font-size: 1.5rem;
     border-radius: 15%;
 }
 .footer-nav a:hover {
    background-color:#703103;
    color: #F2BB2F;
    box-shadow: 10px 5px 5px black;
  }
